
* {
     list-style-type:none;
     text-align: center;

}        

h1 {
    font-size: 100px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: sans-serif;
    text-decoration-line:underline;
    text-decoration-style:wavy;
    text-shadow: 2px 4px rgb(92, 92, 92);
  }
  

div {
font-size: 50px;
font-family: sans-serif;,
font-weight: bold;
font-weight: 400;
color: black;
}




body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: wavy;
  transition: color 0.5s;
  cursor: pointer;
}
a:hover{
  color: pink;
  text-shadow: 2px 2px 2px black;

}

a:before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}
i {
  color: white;
}